
$gray: #ccc;
$indigo:#E3F2FD;
$dark:#414755;
$light-green:#36bea6;
$red:#f62d51;
$white:white;

$color-background:$dark;
$color-border-light : lighten($gray, 10%);
$color-border-dark:darken($gray,10%);
