.App {
  text-align: center;
}
.dictionaries-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  .list {
    flex: 1 0 0;
  }
  .editor {
    flex: 3 0 0;
    padding-left: 50px;
  }
}


@media screen and (max-width: 600px){
  .dictionaries-container  {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
